
@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>404</title>
    <style>
        body {
            background-color: #444;
            font-size: 14px;
        }

        h3 {
            font-size: 60px;
            color: #eee;
            text-align: center;
            padding-top: 30px;
            font-weight: normal;
        }
    </style>
</head>
<body>
    <h3>404，您请求的页面不存在!</h3>
</body>
</html>
