<!-- 商品规格属性模板 -->
<script id="tpl_spec_attr" type="text/template">
    {{ each specAttr }}
    <div class="spec-group-item" data-index="{{ $index }}" data-group-id="{{ $value.specId }}">
        <div class="spec-group-name">
            <span>{{ $value.specName }}</span>
            <i class="spec-group-delete iconfont icon-shanchu1" title="点击删除"></i>
        </div>
        <div class="spec-list am-cf">
            {{ each $value.specItems item key }}
            <div class="spec-item am-fl" data-item-index="{{ key }}">
                <span>{{ item.specValueName }}</span>
                <i class="spec-item-delete iconfont icon-shanchu1" title="点击删除"></i>
            </div>
            {{ /each }}
            <div class="spec-item-add am-cf am-fl">
                <input type="text" class="ipt-specItem am-fl am-field-valid">
                <button type="button" class="btn-addSpecItem am-btn am-fl">添加</button>
            </div>
        </div>
    </div>
    {{ /each }}
</script>

<!-- 商品规格table模板 -->
<script id="tpl_spec_table" type="text/template">
    <tbody>
        <tr>
            {{ each specAttr }}
            <th>{{ $value.specName }}</th>
            {{ /each }}
            <th>商家编码</th>
            <th>销售价</th>
            <th>划线价</th>
            <th>库存</th>
            <th>重量(kg)</th>
        </tr>
        {{ each specList item }}
        <tr data-index="{{ $index }}" data-sku-id="{{ item.specSkuId }}">
            {{ each item.goodsSpecRels td itemKey }}
            <td class="td-spec-value am-text-middle" rowspan="{{ td.rowSpan }}">
                {{ td.specValueName }}
            </td>
            {{ /each }}
            <td>
                <input type="text" name="goodsNo" value="{{ item.goodsSpec.goodsNo }}" class="ipt-goods-no am-field-valid">
            </td>
            <td>
                <input type="number" name="goodsPrice" value="{{ item.goodsSpec.goodsPrice }}" class="am-field-valid ipt-w80"
                       required>
            </td>
            <td>
                <input type="number" name="linePrice" value="{{ item.goodsSpec.linePrice }}" class="am-field-valid ipt-w80">
            </td>
            <td>
                <input type="number" name="stockNum" value="{{ item.goodsSpec.stockNum }}" class="am-field-valid ipt-w80"
                       required>
            </td>
            <td>
                <input type="number" name="goodsWeight" value="{{ item.goodsSpec.goodsWeight }}" class="am-field-valid ipt-w80"
                       required>
            </td>
        </tr>
        {{ /each }}
    </tbody>
</script>